<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Account</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/acc.css') }}">
</head>
<nav>
	<a href="/dash">Dashboard</a>
	<a href="/logout">Logout</a>
</nav>
<body>
	<h1>Hello {{user.first_name}}</h1>
	<div>
		<label class="text" for="take_home_pay">Take Home Pay</label>
		<input type="currency" name="take_home_pay">
	</div>
</body>
</html>