*{
	padding: 0;
	margin: auto;
}
body{
	background-image: url('/static/images/878.jpg');
}
.tablehead{
	color: aliceblue;
}
.tabledata{
	color: white;
	font-size: large;
	align-items: center;
	/* display: flex; */
	padding: 5px;
	margin: 10px;
}
#main{
	display: flex;

}
nav{
	/* background-color: black; */
	color: greenyellow;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}